.dv-aviasales-control {
    max-width: 450px;
}

.dv-as-button {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #777;
    background-color: #f7f7f7;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
}

.dv-as-panel {
    margin-top: 16px;
    padding: 8px;
    border: 1px solid #777;
    background-color: #ffffff;
}

.dv-as-panel-row {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.dv-as-select {
    flex-grow: 1;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #777;
    background-color: #999999;
    color: #fff;
    font-weight: 600;
}

.dv-as-price {
    margin-left: 12px;
    white-space: nowrap;
    font-size: 14px;
}

.dv-as-error {
    margin-top: 4px;
    color: red;
    font-size: 12px;
}